<template>

<div id="image">

<div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa" class="active">Ana Sayfa</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
        <!-- <b-nav-item href="#">{{this.user}}</b-nav-item> -->
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input> -->
          <!-- <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

          <!-- <template>
            
            <b-nav-item href="/cikis">ÇIKIŞ</b-nav-item>
          </template> -->
          <!-- {{this.user}} -->
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
            <!-- <h1>{{user}}</h1> -->
          </template>
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item>
            <!-- <b-dropdown-item href="#">{{perPage}}</b-dropdown-item>  -->
            <!-- <b-dropdown-item href="#">{{this.user}}</b-dropdown-item> 
            <b-dropdown-item href="#">{{this.filtered.length}}</b-dropdown-item>  -->
            <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <div class="container">
    <br>
    <strong><center><h1 class="fonth2"><b>..Telefon Rehberiniz..</b></h1></center></strong>
    <div class="search">
      <input type="search" v-model="arama" class="form-control" placeholder="Aranacak kelimeyi giriniz..">
    </div>
    <router-link to="/KisiEkle" tag="button" class="btn btn-success"> Ekle </router-link>
    <p></p>
    <div class="table-responsive">
        <b-table
          id="my-table"
          :items="filtered"
          :fields="fields"
          :per-page="perPage"
          :current-page="currentPage"
          :sort-desc.sync="sortDesc"
          hover

          thead-class="bg-dark text-white"
          
          class="table table-striped"
        >
        <template v-slot:cell(güncelle)="{ item }">
        <b-btn variant="primary" @click="update(item)">Güncelle</b-btn>
      </template>
      <template v-slot:cell(sil)="{ item }">
        <b-btn variant="danger"  @click="deletee(item)"> Sil </b-btn>
      </template>
        </b-table>
  </div>
<br>

        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
          align="center"
        ></b-pagination> 
  </div>   
</div>

</template>

<script>
import firebase from "firebase/app";
import "firebase/auth"

import i18n from '@/plugins/i18n'
import { createI18n } from "vue-i18n/dist/vue-i18n.esm-bundler.js";

export default {
  name: 'Anasayfa',
 
  data(){
    return {
      languages: Object.values(i18n.messages),
      user:firebase.auth().currentUser.email,
      arama:"",
      perPage :5,
      currentPage :1,
      sortDesc:false,
      fields: [
          { key: 'tc', label: 'TC KİMLİK NO' },
          { key: 'ad', label: 'AD', sortable:true},
          { key: 'soyad', label: 'Soyad', sortable:true },
          { key: 'ev', label: 'EV TELEFONU' },
          { key: 'is', label: 'İŞ TELEFONU' },
          { key: 'cep', label: 'CEP TELEFONU', sortable:true },
          { key: 'güncelle', label: 'GÜNCELLE' },
          { key: 'sil', label: 'SİL' }
         ],
        items: []
      }
  },

  computed:{
    storeList(){
      return this.$store.getters.getAddedList
    },
    filtered(){
      if(this.arama !== undefined || this.arama !==""){ 
        let dizi =  this.storeList//asıl dizi
        return dizi.filter(dizi => {
            let a=" " + dizi.tc + dizi.ad + dizi.soyad + dizi.ev + dizi.cep + dizi.is
            return a.toLocaleUpperCase('TR').includes(this.arama.toLocaleUpperCase('TR'));
          })
      }
      else{
        return this.storeList
      }
    },
    rows() {
        return this.filtered.length
      },
      
  },
  mounted(){
    this.$store.dispatch("initApp");
    var user = firebase.auth().currentUser;
  },
  methods : {
    changeLang: (lang) => {
      localStorage.setItem( "lang", lang )
      location.reload();
    },
  update(item) {  //güncelleme fonksiyonu
    this.$router.push({path:"/guncelle/"+item.tc});
  },

  deletee(item){  //silme işlemi
    // this.$confirm("Silmek istediğinize emin misiniz?").then(() => {
    //   this.$store.commit("delete",item.key)
    // }).catch(() => {
    // });
    ///
    this.$swal.fire({
  title: 'Emin misiniz?',
  text: "> Bu işlem geri alınamaz <",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Evet, Eminim!',
  cancelButtonText: 'İptal'
}).then((result) => {
  if (result.isConfirmed) {
  //silme fonksiyonu
  this.$store.commit("delete",item.key)
    this.$swal.fire(
      'Silindi!',
      'Kayıtlı Kişi Silindi',
      'success'
    )
  }
})
    ///
  },
  }
}
</script>

<style scoped>
.search{
  float: right;
  /* padding: 0px 10px; */
}

.fonth2{
  /* font-family: Edwardian Script ITC; */
  font-family: Kunstler Script;
  /* font-family: Monotype Corsiva; */
  font-size: 52px;
  color: black;
  /* background-color: darkgrey; */
}
b{
  background-color: rgb(218, 212, 212);
}

.navbar{
  border-bottom: 3px dashed black;
}

/* .b-table{ 
  background-color: blue;
} */

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
th{
  background-color: black;
  color: white;
}

tr:nth-child(even){
  background-color: #F0F8FF;
}
tr:nth-child(odd){
  background-color: #fff;
}

.b-table{
  /* border: 2px dashed none black; */
  /* border-left-style: dashed  */
  background-color: white;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  /* border-bottom: 1px solid #fff; */
}

div#image{
  /* height: 1000px; */
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-image: url(''); */
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-repeat: repeat;
  background-color: black;
}
/* div{
  border: 1px solid blue;
} */

.li{
  text-align: center;
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}

.navbaslık{
  color: #666668;
  /* font-family: Edwardian Script ITC; */
  /* font-size: xx-large; */
  /* font-size: 32px; */
}
 
</style>
