<template>
  <div id="images">
<div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
        <!-- <b-nav-item href="#">{{this.user}}</b-nav-item> -->
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

          <!-- <template>
            
            <b-nav-item href="/cikis">ÇIKIŞ</b-nav-item>
          </template> -->
          <!-- {{this.user}} -->
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
            <!-- <h1>{{user}}</h1> -->
          </template>
            <b-dropdown-item href="/bilgiler" class="active">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item>
            <!-- <b-dropdown-item href="#">{{perPage}}</b-dropdown-item>  -->
            <!-- <b-dropdown-item href="#">{{this.user}}</b-dropdown-item> 
            <b-dropdown-item href="#">{{this.filtered.length}}</b-dropdown-item>  -->
            <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>

    <br><br><br>
<div class="container">
  <div><br>
    Kullanıcı Adı:    
    <input type="text" v-model="l.username" :disabled="!isEditing"
           :class="{view: !isEditing}">
  </div><br><div>
    Kullanıcı e-mail:
    <input type="text" v-model="l.email" :disabled="!isEditing"
           :class="{view: !isEditing}">  
  </div><br>
  <!-- <div>
    Kullanıcı telefonu:
    <input type="text" v-model="l.telephone" :disabled="!isEditing"
           :class="{view: !isEditing}">  
  </div><br> -->
  <!-- <button @click="isEditing = !isEditing">
    {{ isEditing ? 'Save' : 'Edit' }}
  </button> -->

  <button @click="isEditing = !isEditing" v-if="!isEditing">
    Edit
  </button>
  <button @click="save" v-else-if="isEditing">
  Save
  </button>
  
  <button v-if="isEditing" @click="isEditing = false">Cancel</button>
</div>
  <br><br><br><br>
</div>
</template>

<script>
// import Vue from "vue";
import {required} from "vuelidate/lib/validators"
import firebase from "firebase/app";

export default {
  name: 'bilgiler',
  data() {
    return {
      isEditing: false,
      user:firebase.auth().currentUser.email,
      l :{
        username : '',
        email : '',
        telephone : ''
      }
    }
  },

mounted(){
    var user = firebase.auth().currentUser;
      user.providerData.forEach((userInfo) => {
      this.l.email = userInfo.email
      this.l.username = userInfo.displayName
      this.l.telephone = userInfo.phoneNumber
      });
},

  methods : {
    save(){     
      this.$swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Değişiklikler Başarıyla Kaydedildi..',
        showConfirmButton: false,
        timer: 1500
      })
      var displayName = this.l.username
      var email = this.l.email
      var user = firebase.auth().currentUser;
user.updateProfile({
        displayName: this.l.username,
      }).then(function() {
      }).catch(function(error) {
      });
      this.isEditing = false

      this.email = this.l.email
      user.updateEmail(email).then(function() {
        //güncellendi..
        location.reload(true); // sayfayı yenilemek için..
      }).catch(function(error) {
        this.$toast.error("Bir hata oluştu.. ",error);
      });
    },
  },
  validations: {
      l :{
        username:{
          required : required,
          
        },
        password:{
          required,
      }
    }
  }
}
</script>

<style scoped>
.container{
  /* padding-left: 400px;
  padding-right: 400px; */
  /* text-align: center; */
  height: 370px;
  width: 500px; /* 300 */
  background-color: white;
  /* background-color: #9e9595; */
  /* border: 1px dashed black; */
  /* border: 10px groove  rgb(223, 216, 216); */
  border: 9px dotted black;
  font-weight: bold;
}
.bilgiler{
  text-align: center;
}
.view {
  border-color: transparent;
  background-color: initial;
  color: initial
}

div#images{
  height: 1000px;
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  /* background-position: center; */
  /* background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}

.h1font{
  color: black;
  font-family: Vivaldi;
  font-size: 58px;
  /* text-decoration: underline; */
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}
.navbar{
  border-bottom: 3px dashed black;
}
.navbaslık{
  color: #666668;
  /* font-family: Edwardian Script ITC; */
  /* font-size: xx-large; */
  /* font-size: 32px; */
}
 

</style>