<template>
  <div id="images">
    <br><br><br>
    <div class="home">
      <a href="/"><h1 class="h1font"><b>Telefon Rehberinize </b></h1></a>
      <a href="/"><h1 class="h1font"><b> Hoşgeldiniz</b></h1></a>
    </div>
<br><br>
    <div class="container"><br><br>
    <h2 class="h2font">.. Bir e-mail giriniz ..</h2>
    <p></p>
    <form >
      <div class="form-group">
        <input @blur="$v.l.mail.$touch()" type="email" v-model="l.mail" class="form-control" :class="{'is-invalid' : $v.l.mail.$error}" placeholder=" emaili giriniz..." >
      </div>
      
      <router-link tag="button" to="" @click.native="dogrula" class="btn btn-success" :disabled="$v.$invalid">GÖNDER</router-link>
    </form>
  </div>
</div>
</template>

<script>
// import Vue from "vue";
import {required} from "vuelidate/lib/validators"
import firebase from "firebase/app";
import "firebase/auth"

export default {
  name: 'Login',
  data() {
    return {
      l :{
        mail : '',
      }
    }
  },
  mounted(){
    
  },
  methods : {   
    dogrula(){
        var auth = firebase.auth();
        var emailAddress = this.l.mail
        auth.sendPasswordResetEmail(emailAddress).then(function() {
        }).catch(function(error) {
        });
        this.$swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Şifre Sıfırlama Bağlantısı Mailinize Gönderilmiştir',
          text: '--> mailinizi kontrol ediniz <--',
          showConfirmButton: false,
          footer: '<a href> >Bu Bağlantıyı Almadım< </a>'
        })
        // this.$toast.warning("*mailinizi kontrol ediniz..");
        this.$router.push({path:"/login"});

    },  
  },
  validations: {
      l :{
        mail:{
          required : required,
        }
    }
  }
}
</script>

<style scoped>
.container{
  /* padding-left: 400px;
  padding-right: 400px; */
  text-align: center;
  height: 300px;
  width: 450px;
    /* height: 370px;
  width: 500px; */
  background-color: white;
  border: 9px dotted black;
  font-weight: bold;
}
a{
  text-decoration:none
}
h1{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
div#images{
  height: 1000px;
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  /* background-position: center; */
  /* background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}
b{
  background-color: white;
  border: 2px dashed black;
}
.h1font{
  color: black;
  font-family: Vivaldi;
  font-size: 58px;
  /* text-decoration: underline; */
}
</style>