<template>
<div>
  <div>
    <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
            <b-nav-item  class="active" href="/hakkımızda">Hakkımızda</b-nav-item>
            <b-nav-item href="/iletisim">İletişim</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
            <b-nav-form>
            <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
            </b-nav-form>          
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <!-- <strong>USER</strong> -->
            <strong>{{user}}</strong>
          </template>
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item> <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
        </b-navbar-nav>

    </b-collapse>
</b-navbar>
    </div>
  <br>
  <br>
   <div class="container">
        <div>
         <h1>Hakkımızda Sayfamız ..</h1>
        </div><br>
   <div>
       <p>Telefon numaralarınızı kaydetmek için tek seçenek telefon olmadığı gibi kendinize ait bir online telefon rehberi ile de 
           bu işlemi kolaylıkla yapabilirsiniz..</p><br>
        <p>Telefonunuzdaki numaralar yanlışlıkla da olsa silindiğinde buradaki güncel bilgileriniz ile yedekleme imkanınız oluşmaktadır.</p>
   </div>
<br>
    <div>
       <p>Bu uygulama sayesinde size ait olan telefon rehberine telefon numaralarınızı kaydedebilir güncelleyebilir ve silebilirsiniz..</p> <br>
       <p>Birçok özelliğin yanı sıra isteğiz kişiyi o kişiye ait özelliklerden aratıp saniyeler içerisinde bulabilirsiniz.. </p>       
    </div>
   </div>
</div>
</template>

<script>
import firebase from "firebase/app";

export default {
  name: 'Hakkımızda',
  data() {
    return {
      user:firebase.auth().currentUser.email
    }
  }
}
</script>

<style scoped>
.container{
  padding: 10px 10px; 
  margin: 5px auto;
}

li {
  display: inline-block;
  margin: 0 10px;
}
li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}

.navbar{
  border-bottom: 3px dashed black;
}

</style>