<template>
  <div id="images">
    <br><br><br>
    <div class="home">
      <a href="/"><h1 class="h1font"><b>..Telefon Rehberinize.. </b></h1></a>
      <a href="/"><h1 class="h1font"><b>...Hoşgeldiniz...</b></h1></a>
        <br>
        <h2>. . .</h2>
        <br>
          <b-button  href="/KisiEkle" class="b1" type="submit" style="margin:25px"><div>Yeni<br>Kayıt<br>eklemek</div></b-button>
          <b-button class="b2" type="submit" style="margin:25px"><strong> ⇦ İşlem Seçiniz ⇨ </strong></b-button>    
          <!-- <b-button onclick="document.getElementById('id01').style.display='block'" class="b2" type="submit" style="margin:25px"><strong> ⇦ İşlem Seçiniz ⇨ </strong></b-button>     -->
          <b-button href="/anasayfa" class="b3" type="submit" style="margin:25px"><div>Var Olan<br>Kayıtları<br>Görüntülemek</div></b-button> 
          <br><br><br>
         
    </div>
        <center><b-button href="/login" class="b2" type="submit" style="margin:25px"> ⇨   GiRiŞ YAPINIZ   ⇦</b-button>
        <b-button href="/kayit" class="b2" type="submit" style="margin:25px"> ⇨   ÜYE OLUNUZ   ⇦</b-button></center>

<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php" method="post">
  <br>
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Çıkış">&times;</span>

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
<br><br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <br><br>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Beni hatırla !
      </label>
      <br><br>


      <button type="submit">Login</button><br>

    </div>
  </form>
</div>
  </div>
         
</template>

<script>


// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }

}
</script>

<style scoped>
b{
  background-color: black;
  border: 2px dashed white;  
}
.b1{
  background-color: black;
  width: 120px;
  height: 100px;
  border: 2px dashed white;  
}

.b2{
  background-color: black;
  border: 2px dashed white;  
}

.b3{
  background-color: black;
  width: 120px;
  height: 100px;
  border: 2px dashed white;  
}

div#images{
  height: 1000px;
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  /* background-position: center; */
  /* background-repeat: repeat-y;
  background-repeat: repeat-x; */
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}
a{
  text-decoration:none
}
h1{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.h1font{
  color: white;
  font-family: Vivaldi;
  font-size: 58px;
  text-decoration: none;
}
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  padding-right: 400px;
  padding-left: 400px;
  /* padding: 90px; */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     /* display: block; */
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>