<template>
<div>
<div>
    <div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item class="active" href="/iletisim">İletişim</b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
          </template>
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item> <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    </div>
  <br>
  <br>
  <div class="row">
    <div class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96722.75353025881!2d30.31225346364676!3d40.74913333139725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb2fad58e639f%3A0xb84f12f8c14f1221!2sSakarya!5e0!3m2!1str!2str!4v1604415390368!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  <div class="column col-md-6">
      <b><h2 class="h2font">Bizimle iletişime geçiniz..</h2></b>
    <p></p>
    <form id="singnup-form" class="needs-validation" novalidate>
    <div class="form-group">
      <label>Adınız:</label>
      <input type="text" class="form-control" placeholder="" >
    </div>
    <div class="form-group">
      <label>Soyadınız:</label>
      <input type="text" class="form-control" placeholder="" >
    </div>
    <div class="form-group">
      <label>Cep Telefonunuz:</label>
      <input type="text" class="form-control" placeholder="" >
    </div>
    <div class="form-group">
      <label>Konu:</label>
      <input type="text" class="form-control" placeholder="" >
    </div>
    
   <router-link tag="button" to="" class="btn btn-success">Gönder</router-link>
  </form>
  </div>
  </div>
</div>
</div>
</template>

<script>
import firebase from "firebase/app";

export default {
  name: 'iletisim',
  data() {
    return {
      user:firebase.auth().currentUser.email
    }
  }
}
</script>

<style scoped>
.row{
  margin-left: 25px;
  color: red;
}
label{
    text-decoration: underline;
}
/* div{
    border: 1px solid steelblue;
} */

.h2font{
  color: black;
  font-family: Vivaldi;
  font-size: 42px;
  /* text-decoration: underline; */
}

li {
  display: inline-block;
  margin: 0 10px;
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed blue;
}
.navbar{
  background-color: white;
}

.navbar{
  border-bottom: 3px dashed black;
}

</style>