<template>
  <div id="images">
    <br><br><br>
    <div class="home">
      <a href="/"><h1 class="h1font"><b>..Telefon Rehberinize.. </b></h1></a>
      <a href="/"><h1 class="h1font"><b>... Hoşgeldiniz...</b></h1></a>
      <br>
    </div>

    <div class="container"><br>
    <strong><h2 class="h2font">.. KAYIT OL ..</h2></strong>
    <form >
      <div class="form-group">
        <label>..Kullanıcı Adı..</label>
        <input @blur="$v.l.username.$touch()" type="email" v-model="l.username" class="form-control" :class="{'is-invalid' : $v.l.username.$error}" placeholder="..mail adresinizi giriniz.." >
      </div>
      <div class="form-group">
        <label>..Şifreniz..</label>
        <input @blur="$v.l.password.$touch()" type="password" v-model="l.password" class="form-control" :class="{'is-invalid' : $v.l.password.$error}" placeholder="..şifreniz en az 6 karakterli olmalı.." >
      </div>
      <router-link tag="button" to="" @click.native="login" class="btn btn-success" :disabled="$v.$invalid">KAYIT OL</router-link>
    </form>
  </div>
  <br><br><br><br>
</div>
</template>

<script>
// import Vue from "vue";
import {required} from "vuelidate/lib/validators"
import firebase from "firebase/app";

export default {
  name: 'Login',
  data() {
    return {
      l :{
        username : '',
        password : ''
      }
    }
  },
  methods : {
    login(){

      firebase.auth().createUserWithEmailAndPassword(this.l.username,this.l.password).then(
        user => {
          // alert("Şifreniz basarı ile oluşturulmuştur .."+"Şimdi Giriş yapabilirsiniz")
          this.$swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Şifreniz basarı ile oluşturulmuştur ..'+'Şimdi Giriş yapabilirsiniz',
            showConfirmButton: false,
          })
          this.$router.push({path:"/"});
        },
        err => {
          this.$swal.fire({
            icon: 'error',
            title: 'Oops...'+ 'E-posta adresi bir başka bir hesap tarafından kullanılıyor.',
          })
        }
      );


    },
    
  },
  validations: {
      l :{
        username:{
          required : required,
          
        },
        password:{
          required,
      }
    }
  }
}
</script>

<style scoped>
.container{
  text-align: center;
  height: 330px;
  width: 450px;
  background-color: white;
  border: 9px dotted black;
}
div#images{
  height: 1000px;
    text-align: center;

  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: repeat;
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}

b{
  background-color: white;
  border: 2px dashed black;
}

a{
  text-decoration:none
}
h1{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.h1font{
  color: black;
  font-family: Vivaldi;
  font-size: 58px;
  /* text-decoration: underline; */
}


</style>