<template>
<div>
  <div>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-brand href="/" class="navbaslık">Telefon Rehberim ☎️</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/anasayfa">Ana Sayfa</b-nav-item>
        <b-nav-item href="/KisiEkle" class="active">Kişi Ekle</b-nav-item>
        <b-nav-item href="/hakkımızda">Hakkımızda</b-nav-item>
        <b-nav-item href="/iletisim">İletişim</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
        </b-nav-form>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <!-- <em>User</em> -->
            <strong>{{user}}</strong>
          </template>
            <b-dropdown-item href="/bilgiler">Kişi Bilgileri</b-dropdown-item>
            <b-dropdown-item href="/sifre">Şifre Değiştir</b-dropdown-item> <hr>
            <b-dropdown-item href="/cikis">Çıkış Yap</b-dropdown-item>
        </b-nav-item-dropdown>
          
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>


 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      
      <div class="container">
        <br>
        
    <b><h2 class="h2font">Kişiyi Rehbere Ekle..</h2></b>
    <p></p>
    <form id="singnup-form" class="needs-validation" novalidate>


     <div class="form-group">
      <label>TC Kimlik No:</label>
      <input @blur="$v.product.tc.$touch()" type="text" v-model="product.tc" class="form-control" :class="{'is-invalid' : $v.product.tc.$error}" placeholder="tc kimlik no giriniz.." required>

      <small v-if="!$v.product.tc.required" class="form-text text-muted">*Bu alan zorunludur..</small>
      <small v-if="!$v.product.tc.numeric" class="form-text text-danger">*TC Kimlikno  sayılardan oluşur</small>

      <small v-if="!$v.product.tc.minLength" class="form-text text-primary">*TC Kimlik numarası {{ $v.product.tc.$params.minLength.min}} hanedir..</small>
      <small v-if="!$v.product.tc.maxLength" class="form-text text-danger">*TC Kimlik numaranız {{$v.product.tc.$params.maxLength.max}} karakterli olmalıdır..</small>
      <small v-if="!$v.product.tc.isTc" class="form-text text-danger">*TC Kimlik numarası 0 ile başlaamaz..</small>
      <small v-if="!$v.product.tc.isTcSonbas" class="form-text text-danger">*TC Kimlik numaranızı hatalıdır..</small>

    </div>
    <!-- <p>{{$v}}</p> -->
    <div class="form-group">
      <label>Ad:</label>
      <input @blur="$v.product.ad.$touch()" type="text" v-model="product.ad" v-on:keypress="isLetter($event)"  class="form-control" :class="{'is-invalid' : $v.product.ad.$error}" placeholder="adınızı giriniz.." required>
      <small v-if="!$v.product.ad.required" class="form-text text-muted">*Bu alan zorunludur..</small>
     </div>
     
     <div class="form-group">
      <label>Soyad:</label>
      <input @blur="$v.product.soyad.$touch()" type="text" v-model="product.soyad" v-on:keypress="isLetter($event)" class="form-control" :class="{'is-invalid' : $v.product.soyad.$error}" placeholder="soyadınızı giriniz.." required>
      <small v-if="!$v.product.soyad.required" class="form-text text-muted">*Bu alan zorunludur..</small>
    </div>
    
    <div class="form-group">
      <label>Ev Telefonu:</label>
      <input @blur="$v.product.ev.$touch()" type="text" v-model="product.ev" class="form-control" :class="{'is-invalid' : $v.product.ev.$error}" placeholder="ev telefonu numarasını giriniz..">
      <small v-if="!$v.product.ev.numeric" class="form-text text-danger">*Telefon numaranız sayılardan oluşur</small>
      
      <small v-if="!$v.product.ev.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.product.ev.maxLength" class="form-text text-danger">**Dogru bir telefon numarası girdiğinizden emin olunuz..</small>

     </div>
     
     <div class="form-group">
      <label>İş Telefonu:</label>
      <input @blur="$v.product.is.$touch()" type="text" v-model="product.is" class="form-control" :class="{'is-invalid' : $v.product.is.$error}" placeholder="iş telefonu numaranızı giriniz..">
      <small v-if="!$v.product.is.numeric" class="form-text text-danger">*Telefon numaranız sayılardan oluşur..</small>
      
      <small v-if="!$v.product.is.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.product.is.maxLength" class="form-text text-danger">*Dogru bir telefon numarası girdiğinizden emin olunuz..</small>

    </div>
    
    <div class="form-group">
      <label>Cep Telefonu:</label>
      <input @blur="$v.product.cep.$touch()" type="text" v-model="product.cep" class="form-control" :class="{'is-invalid' : $v.product.cep.$error}" placeholder="cep telefonunuzu giriniz.." required>
      <small v-if="!$v.product.cep.required" class="form-text text-muted">*Bu alan zorunludur..</small>
      <small v-if="!$v.product.cep.numeric" class="form-text text-danger">**Cep telefon numarası sayılardan oluşur..</small>

      <small v-if="!$v.product.cep.minLength" class="form-text text-primary">*Telefon numaranızın başında sıfır olmalıdır..</small>
      <small v-if="!$v.product.cep.maxLength" class="form-text text-danger">*Dogru bir telefon numarası girdiğinizden emin olunuz..</small>

     </div>
   <router-link tag="button" to="/anasayfa" @click.native="addProduct" class="btn btn-success" :disabled="$v.$invalid">KAYDET</router-link>

  </form>
  </div>
</div>

 
</template>

<script>

import {required, numeric, minLength, maxLength} from "vuelidate/lib/validators"
import firebase from "firebase/app";

export default {
  name: 'About',
  data() {
    return {
      user:firebase.auth().currentUser.email,
      id: null,
      errors:[],
      product :{
        tc : '',
        ad : '',
        soyad : '',
        ev : '',
        is : '',
        cep : ''
      }
    }
  },
  validations: {
    product :{
      tc:{
        required : required,
        numeric,
        minLength : minLength(11),
        maxLength : maxLength(11),
        isTc : value => { // ilk basamak 0 olup olmaması kontrolü
          let tcno = String(value); //tcno.substring(0,1)==='0')
          return tcno.substring(0,1) !== '0' ? true : false
        },
        isTcdogrula : value => { // 10.basamak kontrolü
          let tcno = String(value); 
          var ilk_on = tcno.substr(0,10).split('');
          var hane_tek =0;
          var hane_çift = 0;
          var j=0;
          for(var i=0; i<9; ++i){
            j= parseInt(ilk_on[i],10);
            if( i & 1){
              hane_çift +=j;
            }else{
              hane_tek +=j;
            }
          }
          return (hane_tek*7-hane_çift) % 10 === parseInt(tcno.substr(-2,1),10) ? true : false
        },
         isTcSonbas : value => { // Son basamak kontrolü
          let tcno = String(value); //tcno.substring(0,1)==='0')
          var ilk_on = tcno.substr(0,10).split('');
          var ilk_son = 0;
          var j=0;
          for(var i=0; i<9; ++i){
            j= parseInt(ilk_on[i],10);
            if( i & 1){
              // hane_çift +=j;
            }else{
              // hane_tek +=j;
            }
            ilk_son +=j;
          }
          ilk_son += parseInt(ilk_on[9],10);
          return ilk_son % 10 === parseInt(tcno.substr(-1),10) ? true : false
        },
      },
      ad:{
        required
      },
      soyad:{
        required
      },
      ev:{
        numeric,
        minLength : minLength(11),
        maxLength : maxLength(11)
      },
      is:{
        numeric,
        minLength : minLength(7),
        maxLength : maxLength(11)
      },
      cep:{
        required,
        numeric,
        minLength : minLength(11),
        maxLength : maxLength(11)
      }

    }
  },
  mounted(){
    this.product.tc
  },
  methods : {
    
    addProduct(){ //kişi ekle
      let uzunlukdegeri = this.$store.getters.getAddedList.length

      for(let i=0; i<uzunlukdegeri; i++){
      var tf = true
        if(this.product.tc == (this.$store.getters.getAddedList[i].tc)){
          tf= true
          break
        }
        else{
          tf=false
        }
      }
          if(tf==true){
            this.$alert("bu kişi zaten kayıtlı")
          }else{
            this.$store.commit("addDataMutation",this.product); //kişi ekleme..
            this.$toast.success("Kişi Eklendi ..");
          }


    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode);
      if (/^[A-Za-z,ç,Ç,ğ,Ğ,ı,İ,ö,Ö,ş,Ş,ü,Ü,\s ]+$/.test(char)) return true;
      else e.preventDefault();
    },
    
  },  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.container{
  padding: 20px 30px; 
  margin: 5px auto;
}
.h2font{
  color: #42b983;
  font-family: Vivaldi;
  font-size: 42px;
  /* text-decoration: underline; */
}
label{
  color: #42b983;
  font-weight: bold;
}
a {
  color: #42b983;
}

li:hover{
  background-color: #e8e8e8;
  /* border: 2px solid black; */
  }
li:active{
  background-color: teal;
}
li.active{
  border: 1px dashed #42b983;
}
.navbar{
  background-color: white;
}

.navbar{
  border-bottom: 3px dashed black;
}
</style>
