<template>
  <div id="images">
    <br><br>
    <div class="home">
      <a href="/"><h1 class="h1font"><b>..Telefon Rehberinize..</b> </h1></a>
      <a href="/"><h1 class="h1font"><b>... Hoşgeldiniz ...</b></h1></a>
      <br>
    </div>

    <div class="container"><br>
    <h2 class="h2font">.. Giriş Yap ..</h2>
    <p></p>
    <form >
      <div class="form-group">
        <label>..Kullanıcı Adı..</label>
        <input @blur="$v.l.username.$touch()" type="email" v-model="l.username" class="form-control" :class="{'is-invalid' : $v.l.username.$error}" placeholder="kullanıcı adını giriniz.." >
      </div>
      <div class="form-group">
        <label>..Şifreniz..</label>
        <input @blur="$v.l.password.$touch()" type="password" v-model="l.password" class="form-control" :class="{'is-invalid' : $v.l.password.$error}" placeholder="şifreniz giriniz.." >
      </div>
      
      <!-- <router-link tag="button" to="" @click.native="login" class="btn btn-success" >KAYIT</router-link> -->
      <router-link tag="button" to="" @click.native="login_liste" class="btn btn-success">LOGİN</router-link>
      <br><br>
      <div>
      <a class="underlineHover" href="/dogrulama">Forgot Password?</a>
    </div>
    </form>
  </div>
  <br><br><br><br>
</div>
</template>

<script>
// import Vue from "vue";
import {required} from "vuelidate/lib/validators"
import firebase from "firebase/app";
import "firebase/auth"

export default {
  name: 'Login',
  data() {
    return {
      l :{
        username : '',
        password : ''
      }
    }
  },
  mounted(){
    
  },
  methods : {   
    login_liste(){

      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL)
        .then(()=> {
          firebase.auth().signInWithEmailAndPassword(this.l.username,this.l.password).then(
        user => {
          // alert("..Başarı ile Giriş Yaptınız..")
          this.$swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Başarı ile Giriş Yaptınız',
            showConfirmButton: false,
            timer: 1500
          })
          this.$router.push({path:"/Anasayfa"});
        },
        err => {
          this.$swal.fire({
            icon: 'error',
            title: 'Oops...'+ err,
          })
        }
      )
          return firebase.auth().signInWithEmailAndPassword(this.l.username, this.l.password);
        })
        .catch(function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;
        });
      
      

    },  
    
  },
  validations: {
      l :{
        username:{
          required : required,
          
        },
        password:{
          required,
      }
    }
  }
}
</script>

<style scoped>
.container{
  text-align: center;
  height: 370px;
  width: 450px;
  background-color: white;
  border: 9px dotted black;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

b{
  background-color: white;
  border: 2px dashed black;  
}

a{
  text-decoration:none
}
h1{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

div#images{
  height: 1000px;
  /* background-color: mediumaquamarine; */
  /* background-image:  */
  background-image: url('~@/image/image12.jpg');
  /* background-size: 100% 100%; */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: repeat;
  background-color: black;
}
.home{
  margin:0 auto;
  text-align: center;
}

.h1font{
  color: black;
  font-family: Vivaldi;
  font-size: 58px;
  /* text-decoration: underline; */
}


</style>