<template>
  <div id="app">
    <div id="nav" class="sidenav">
    </div>
    <router-view/>
  </div>
</template>

<script>
import Vue from "vue"
import firebase from "firebase/app";

Vue.config.productionTip = false
export default {
  name: 'App',
 mounted(){

  setTimeout(() => {
    alert("Oturum süreniz doldugundan dolayı tekrar giriş yapmalısınız")
    firebase.auth().signOut()
 .catch(function (err) {
 });
    this.$router.push({path:"/login"});
    //oturum-LOGİN- isleminin süresini belirlemek için
    }, 1000*60*60); // 1dk
  }
  
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
}
div.sidenav{
  /* background-color: rgb(218, 93, 93); */
  /* border: 5px solid rgb(48, 19, 19); */
  border-bottom: 3px dashed black;
  background-image: url('~@/image/image13.jpg');
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */

  opacity: 0.9;
}

.yazı{
  font-family: Edwardian Script ITC;
  font-size: 42px;
  color: black;
  /* background-color: darkgrey; */
}

#border{
   /* border: 5px solid black; */
   display: inline;
   padding: 15px;
   margin-right: 50px;
   background-color: #F0F8FF;
}
/* a:hover{
  border: 5px solid black;
} */

.yesil:hover{
  border: 4px solid green;
  padding: 14px;
}

.mavi:hover{
  border: 5px solid blue;
  padding: 14px;
}

.kırmızı:hover{
  border: 5px solid red;
  padding: 14px;
  text-align: center;
}

.kırmızı:active{
  border: 5px solid black;
}

#nav {
  padding: 30px 10px 30px 30px;
}

a{
  text-decoration: none;
}

#nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #42b983;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #42b983;
  text-decoration: none;
}
</style>
